.price-card_popular {
  position: relative;
}

.badge {
  position: absolute;
  top: -17px;
  right: -17px;
  bottom: 666px;
}

img {
  margin: 18px 22px 19px 22px;
}

span {
  width: 300px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
