.price-card {
  display: inline-block;
  width: 380px;
  height: 770px;
  margin-right: 18px;
  background-color: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

  &__header {
    height: 97px;
    text-align: center;
    margin-top: 33px;
  }

  &__title {
    margin: 0;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
  }

  &__subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }

  &__price {
    height: 105px;
    padding: 19px 110px;
    text-align: center;

    &-basic {
      background-color: #5bb189;
    }

    &-business {
      background-color: #3a6ba5;
    }

    &-webshop {
      background-color: #ec632a;
    }

    &_information {
      margin: 0;
      padding: 0;
      width: 160px;
      height: 67px;
      font-weight: 700;
      font-size: 55px;

      text-align: center;
    }
  }

  &__description {
    height: 116px;
    display: flex;
    align-items: center;

    &_text {
      margin: 0;
      margin: auto;
      width: 327.5px;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &_item {
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
    }

    &_item:nth-child(odd) {
      background-color: #2a343880;
      mix-blend-mode: normal;
    }
  }
}

.price-webshop {
  margin-right: 0;

  &__title {
    height: 97px;
  }
}
